{{- if not (.Page.Store.Get "references") -}}
  {{/*  touch 'references' slice  */}}
  {{- .Page.Store.Set "references" slice -}}
{{- end -}}

{{- $idx := -1 -}}
{{- $text := .Get 0 -}}
{{- $ref := .Get 1 -}}

{{- $existing := where (.Page.Store.Get "references") "ref" $ref -}}
{{- if $existing -}}
  {{- $idx = (index $existing 0).idx -}}
{{- else -}}
  {{- $idx = add (len (.Page.Store.Get "references")) 1 -}}
  {{/*  1 more than current length for 1-indexing  */}}

  {{/*  store reference in .Page.Store  */}}
  {{- .Page.Store.Add "references" (slice (dict "idx" $idx "text" $text "ref" $ref)) -}}
{{- end -}}

{{/*  render inline citation number  */}}
{{- "" -}}
<span id="cite-{{ $idx }}" class="cite-inline"><a href="{{ $ref }}">{{ $text }}</a><sup><a href="#ref-{{ $idx }}">[{{ $idx }}]</a></sup></span>
{{- "" -}}
